c331033김윤진

# 함수

In [1]:
def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

In [2]:
sum, product = calcSumProduct(3,7)

print(f'{sum = }, {product = }')

sum = 10, product = 21

In [3]:
sum, product = calcSumProduct(3)

print(f'{sum = }, {product = }')

sum = 13, product = 30

In [4]:
sum, product = calcSumProduct(b=3, a=7)

print(f'{sum = }, {product = }')

sum = 10, product = 21

In [5]:
def calcSumProduct(a: int, b: int = 10) -> int:
    print(f'{a = }, {b = }')
    plus = a+b
    multiple = a*b
    return plus, multiple

In [6]:
help(calcSumProduct)

Help on function calcSumProduct in module __main__:

calcSumProduct(a: int, b: int = 10) -> int

In [7]:
import numpy as np

def calcSumProduct2(*inputs):

    print(f'{inputs = }')

    plus = np.sum(inputs)
    multiple = np.prod(inputs)

    return plus, multiple

sum, product = calcSumProduct2(1,2,3)

print(f'{sum = }, {product = }\n')

sum, product = calcSumProduct2(1,2,3,4,5,6,7,8)

print(f'{sum = }, {product = }')

inputs = (1, 2, 3)
sum = np.int64(6), product = np.int64(6)

inputs = (1, 2, 3, 4, 5, 6, 7, 8)
sum = np.int64(36), product = np.int64(40320)

In [8]:
import numpy as np

def calcSumProduct2(**inputs):

    print(f'{inputs = }')

    plus = 0
    multiple = 1

    for _, value in inputs.items():
        plus += value
        multiple *= value

    return plus, multiple

sum, product = calcSumProduct2(a=1, b=2)

print(f'{sum = }, {product = }\n')

sum, product = calcSumProduct2(a=1, b=2, c=3, d=4)

print(f'{sum = }, {product = }')

inputs = {'a': 1, 'b': 2}
sum = 3, product = 2

inputs = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
sum = 10, product = 24

In [9]:
var_global = '전역 변수'

def useGlobalVariable_local(var_local):

    print(f'{var_global = }') 
    print(f'{var_local = }')  

useGlobalVariable_local('인자는 지역 변수')
print(f'{var_global = }')

try:
    print(f'{var_local = }')
except NameError as e:
    print(e)

var_global = '전역 변수'
var_local = '인자는 지역 변수'
var_global = '전역 변수'
name 'var_local' is not defined

In [10]:
var_global = '전역 변수'

def useGlobalVariable(var_local):

    var_global = '전역 변수가 아닌 지역변수임'
    print(f'{var_global = }')
    print(f'{var_local = }')

useGlobalVariable('인자는 지역 변수')

print(f'{var_global = }')

var_global = '전역 변수가 아닌 지역변수임'
var_local = '인자는 지역 변수'
var_global = '전역 변수'

In [11]:
var_global = '전역 변수'

def useGlobalvariable(var_local):

    global var_global
  
    print(f'(var_global=)')
    print(f'(var_local=]')

    var_global = '이제는 전역 변수임'

useGlobalVariable('인자는 지역 변수')

print(f'{var_global = }')

var_global = '전역 변수가 아닌 지역변수임'
var_local = '인자는 지역 변수'
var_global = '전역 변수'

In [12]:
def addTen(x):
    return x+10

addTen(5)

15

In [13]:
lambda x: x+10

In [14]:
(lambda x: x+10)(5)

15

In [15]:
addTen = lambda x: x + 10

addTen(5)

15

In [16]:
y = 100

(lambda x: x+y+10)(5)

115

In [17]:
(lambda x: '(3의 배수) '+str(x) if x%3==0 else x)(9)

'(3의 배수) 9'

In [18]:
(lambda x: '(3의 배수) '+str(x) if x%3==0 else x)(8)

8

In [19]:
(lambda x: '(3의 배수) '+str(x) if x%3==0 else float(x) if x%3==1 else x)(9)

'(3의 배수) 9'

In [20]:
(lambda x: '(3의 배수) '+str(x) if x%3==0 else float(x) if x%3==1 else x)(7)

7.0

In [21]:
(lambda x: '(3의 배수) '+str(x) if x%3==0 else float(x) if x%3==1 else x)(5)

5

In [22]:
(lambda x,y: x if x%3==0 else x+y)(3,4)

3

In [23]:
(lambda x,y: x if x%3==0 else x+y)(2,4)

6

In [24]:
list(map(lambda x: x+10, [1,2,3]))

[11, 12, 13]

In [25]:
ldMultiple3 = lambda x: '(3의 배수) '+str(x) if x%3==0 else x
list(map(ldMultiple3, range(10)))

ldMultiple3f = lambda x: '(3의 배수) '+str(x) if x%3==0 else float(x) if x%3==1 else x
list(map(ldMultiple3f, range(10)))

['(3의 배수) 0', 1.0, 2, '(3의 배수) 3', 4.0, 5, '(3의 배수) 6', 7.0, 8, '(3의 배수) 9']

In [26]:
ldMultiple3a = lambda x, y: x if x%3==0 else x+y
list(map(ldMultiple3a, range(10), [100]*10))

[0, 101, 102, 3, 104, 105, 6, 107, 108, 9]

# 추가학습내용

In [27]:
def calcSumProduct(a=10, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

calcSumProduct(3, 5)

(8, 15)

3, 5를 더한 값과 곱한 값을 반환

In [28]:
def calcSumProduct(a=10, b=10):

    plus = -a + b
    multiple = -a * b
    return plus, multiple

calcSumProduct(3, 5)

(2, -15)

숫자 두개가 나올 경우 튜플로 출력

In [29]:
calcSumProduct()

(0, -100)

함수 호출

In [30]:
type(calcSumProduct)

function

calcSumProduct의 자료형을 확인하는 코드

In [31]:

def calcSumProduct(a, b):

    plus = a + b
    multiple = a * b
    return plus

calcSumProduct(3, 5)

8

숫자 하나가 나올 경우엔 그냥 출력됨.

In [32]:
def calcSumProduct(a, b):

    plus = a + b
    multiple = a * b
    return

calcSumProduct(3, 5)

3, 5를 더하고 곱하지만 결과를 반환하지 않음

In [33]:
def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

var = calcSumProduct(a=3, b=5)
print(var)

(8, 15)

3과 5의 합과 곱을 계산

In [34]:
def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

var = calcSumProduct(a=3, b=5)
print(var)

(8, 15)

a=3, b=5의 합과 곱 계산

In [35]:
def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

sum, product = calcSumProduct(a=3, b=5)
print(sum, product)

8 15

a=3, b=5의 합과 곱을 각각 sum, product에 저장하고 8 15를 출력

In [36]:
def calcSumProduct(a, b):

    plus = a + b
    multiple = a * b
    return

calcSumProduct(3, 5)
a = calcSumProduct

함수를 변수 a에 저장

In [37]:
print(a)

<function calcSumProduct at 0x000001E2831F6160>

함수 객체 정보가 출력

In [38]:
def calcSumProduct(a, b):

    plus = a + b
    multiple = a * b
    return plus, multiple

calcSumProduct(3.0, 5)

(8.0, 15.0)

3.0과 5를 더하고 곱한 결과 반환

def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

calcSumProduct('a', 5)에러, 문자열 'a'와 숫자 5를 더하려해서 에러 발생

In [39]:
def calcSumProduct(a, b=10):

    plus = a + b
    multiple = a * b
    return plus, multiple

calcSumProduct(5)

(15, 50)

a=5와 기본값 b=10을 사용해 합과 곱 반환

In [40]:
def calcSumProduct(a, b):

    plus = a + b
    multiple = a * b
    return plus, multiple

calcSumProduct(3,5)

(8, 15)

3과 5의 합과 곱 반환

In [41]:
def calcSumProduct(a, b):
    if a > b:
       return a+b
    elif a < b:
       return a*b
    else:
       return a+b, a*b
       

calcSumProduct(3,5)

15

a < b면 둘의 곱을 반환, a > b면 둘의 합을 반환, 같으면 합과 곱을 튜플로 출력
3 < 5라서 15가 반환

In [42]:
calcSumProduct(13,5)

18

13 > 5이므로 두 수의 합 18을 반환

In [43]:
calcSumProduct(13,13)

(26, 169)

a와 b가 같으니 합과 곱 (26, 169)을 튜플로 반환

In [44]:
def calcSumProduct(a, b):
    if a > b:
       return a+b
    elif a < b:
       return a*b
    else:
       return a+b
    
calcSumProduct("13","13")

'1313'

두 문자열을 더한 "1313"을 반환

In [45]:
def calcSumProduct(a, b):
    if a > b:
       return a+b
    elif a < b:
       return a*b
    else:
       return a+b, a*b
       
    print('나는 절대 실행이 안됩니다.')

return 뒤에 쓰면 출력되지 않음.

In [46]:
import numpy as np 
np.prod([10,2,3,234,67,345])

np.int64(324534600)

[10, 2, 3, 234, 67, 345]에 있는 숫자들을 모두 곱한 결과를 반환

In [47]:
import numpy
numpy.sum ([1,2,3])

np.int64(6)

[1, 2, 3]의 모든 원소를 더한 합 반환

In [48]:
import numpy
numpy.prod ([1,2,3])

np.int64(6)

[1, 2, 3]의 모든 원소를 곱한 결과 반환

In [49]:
import numpy as np
np.prod ([10,2,3])

np.int64(60)

[10, 2, 3]의 모든 숫자를 곱해 60을 반환

In [50]:
import numpy as np
np.prod ([10,2,3,234,67,345])

np.int64(324534600)

[10, 2, 3, 234, 67, 345]의 모든 원소를 곱한 값 32432400을 반환

In [51]:
import numpy as np

def calcSumProduct2(*inputs):

    print(f'{inputs = }')

    plus = np.sum(inputs)
    multiple = np.prod(inputs)

    return plus, multiple

calcSumProduct2(1,2,3)

inputs = (1, 2, 3)

(np.int64(6), np.int64(6))

(1, 2, 3)로 합(6)과 곱(6)을 계산해 반환
함수 호출하면 입력값 inputs = (1, 2, 3)을 출력

In [52]:
import numpy as np

def calcSumProduct2(*inputs):

    print(f'{inputs = }')

    plus = np.sum(inputs)
    multiple = np.prod(inputs)

    return plus, multiple

calcSumProduct2(10,2,3,5,4,5,6,7,8,9)

inputs = (10, 2, 3, 5, 4, 5, 6, 7, 8, 9)

(np.int64(59), np.int64(18144000))

(10, 2, 3, 5, 4, 5, 6, 7, 8, 9)를 받아 합과 곱을 계산해 반환

import numpy as np

def calcSumProduct2(*inputs):

    print(f'{inputs = }')

    plus = np.sum(inputs)
    multiple = np.prod(inputs)

    return plus, multiple

calcSumProduct2(10,2,'3',5,4,5,6,7,8,9)는 에러, '3'이 섞여 있어 np.sum과 np.prod가 숫자 계산 중 타입 오류가 남

In [53]:
def multiple1(x):
    if x%3==0:
        value='(3의 배수) '+str(x)
    else:
        if x%3 == 1:
            value=float(x)
        else:
            value = x
    return value

(lambda x: '(3의 배수) '+str(x) if x%3==0 else float(x) if x%3==1 else x)(5)를 함수로 나타냄, x가 3의 배수면 '(3의 배수) x'를, 나머지가 1이면 x를 실수형으로, 그 외는 그대로 반환

In [54]:
multiple1(8)

8

8은 3으로 나눈 나머지가 2이므로 조건에 맞지 않아 그대로 8을 반환

In [55]:
multiple1(813)

'(3의 배수) 813'

813은 3의 배수이므로 '(3의 배수) 813'를 반환

In [56]:
def multiple2(x):
    if x%3==0:
        value='(3의 배수) '+str(x)
    elif x%3 == 1:
            value=float(x)
    else:
        value = x
    return value

def multiple1(x):
    if x%3==0:
        value='(3의 배수) '+str(x)
    else:
        if x%3 == 1:
            value=float(x)
        else:
            value = x
    return value를 더 간단히 나타냄, x가 3으로 나누어 떨어지면 문자열 "(3의 배수) x"를, 나머지가 1이면 x를 실수형으로, 그 외에는 그대로 반환하는 함수

In [57]:
multiple2(81)

'(3의 배수) 81'

81은 3의 배수이므로 '(3의 배수) 81'을 반환

In [58]:
def multiple3(x,y):
    if x%3==0:
        value=x
    else:
        value=x+y
    return value

return value가 없어도 오류가 나진 않음 단지 값이 나오진 않을뿐임, return은 indent 안하면 에러남. 그러나 multiple3(3,4)는 에러안남, def multiple3(x,y)부터 value=x+y까지는 정상적으로 입력되었기 때문임.

In [59]:
multiple3(3,4)

3

3은 3의 배수라서 3을 반환

In [60]:
multiple3(31,4)

35

31은 3의 배수가 아니므로 31 + 4 = 35를 반환

In [61]:
zip([1,2,3],[4,5,6])

zip객체가 나옴, 값은 없음 형변환해야함.

In [62]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

[1, 2, 3]과 [4, 5, 6]의 각 원소를 쌍으로 묶어 리스트로 출력

In [63]:
map(lambda x: x+10, [1,2,3])

list(map(lambda x: x+10, [1,2,3]))를 형변환하기 전임

In [64]:
[100]*10

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

숫자 100을 10번 반복한 리스트 반환

In [65]:
100*10

1000

숫자 100과 10을 곱해서 1000을 반환

In [66]:
(100)*10

1000

100에 10을 곱함
괄호 안에 ,이 없으므로 튜플 아님

In [67]:
(100,)*10

(100, 100, 100, 100, 100, 100, 100, 100, 100, 100)

튜플 (100,)을 10번 반복함